@use '@angular/material' as mat;

@include mat.core();

$paperless-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$paperless-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$paperless-warn: mat.m2-define-palette(mat.$m2-red-palette);

$paperless-theme: mat.m2-define-light-theme((
  color: (
    primary: $paperless-primary,
    accent: $paperless-accent,
    warn: $paperless-warn,
  )
));

@include mat.all-component-themes($paperless-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
